.infoTasks{
    margin-top: 4.06rem;
    display: flex;
    justify-content: space-between;
}
.createdTasks p{
    color: var(--blue);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.createdTasks p span{
    background: var(--gray-400);
    color: var(--gray-200);

    border-radius: 999px;

    padding: 2px 8px;
}

.completedTasks p{
    color: var(--purple);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.completedTasks span{
    background: var(--gray-400);
    color: var(--gray-200);

    border-radius: 999px;

    padding: 2px 8px;
}
